html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}
.clearfix{
	clear:both;
}
/* Override Styles */
.leaflet-top .leaflet-control{
	margin-top:2px;
}
/* End Override Styles */
#map-canvas{
	width:100%;
	height:100%;
}
#headline{
	font-family: 'Droid Serif', sans-serif;
	height:20px;
	background-color:white;
	position:absolute;
	bottom:0;
	left:0;
	padding:2px 8px 2px 5px;
	background-color:white;
	border:2px solid #31D6EC;
}
#headline h1{
	font-size:15px;
	/*color:#31D6EC;*/
}
#headline h4{
	font-family: 'Droid Sans', sans-serif;
	font-weight:normal;
	font-size:11px;
	letter-spacing: .5px;
}
#headline a{
	font-size:11px;
	text-decoration: none;
	color:black;
}
#headline a:hover{
	color:#31D6EC;
}
.month-select{
	float: left;
	width: 50px;
	height: 87px;
	text-align: center;
	margin-top:-2px;
	padding-top:2px;
}
.leaflet-marker-custom{
	position:absolute;
	width:0px !important;
	height:0px !important;
	margin-top:0px !important;
	margin-left:0px !important;
	border-radius:50%;
	transition:  height .8s, width .8s, margin-top .8s, margin-left .8s, opacity .8s;
	-moz-transition:  height .8s, width .8s, margin-top .8s, margin-left .8s, opacity .8s;
	-webkit-transition: height .8s, width .8s, margin-top .8s, margin-left .8s, opacity .8s;
	-o-transition:  height .8s, width .8s, margin-top .8s, margin-left .8s, opacity .8s;
}
/* Animate more slowly if arrested */
.leaflet-marker-custom.bY,.leaflet-marker-custom.hY,.leaflet-marker-custom.wY,.leaflet-marker-custom.aY,.leaflet-marker-custom.oY{
	transition: height 2s, width 2s, margin-top 2s, margin-left 2s, opacity 2s;
	-moz-transition: height 2s, width 2s, margin-top 2s, margin-left 2s, opacity 2s;
	-webkit-transition: height 2s, width 2s, margin-top 2s, margin-left 2s, opacity 2s;
	-o-transition: height 2s, width 2s, margin-top 2s, margin-left 2s, opacity 2s;
}
.leaflet-marker-custom.expand-marker{
	height:80px !important;
	width:80px !important;
	margin-top:-40px!important;
	margin-left:-40px!important;
	opacity:0;
}
.overlay-box{
	position:absolute;
	box-shadow: 0 0 5px #ccc;
	background-color:rgba(255,255,255,.9);
	font-family: 'Droid Sans', sans-serif;
	z-index:99;
	font-size:12px;
	line-height:18px;
}
.overlay-btn,.overlay-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
.overlay-btn:hover{
	text-decoration:underline;
	color:#31D6EC;
	cursor:pointer;
	cursor:hand;
}
.overlay-btn:hover,.overlay-select:hover{
/*	text-decoration:underline;
	color:#31D6EC;
*/	cursor:pointer;
	cursor:hand;
}
.month-select-text:hover{
	text-decoration:underline;
	color:#31D6EC;
	cursor:pointer;
	cursor:hand;
}
.overlay-select:hover, .overlay-select.selected{
	background-color:rgba(255, 250, 209, .75);
	background-color:rgb(255, 250, 209);
	/*color:#31D6EC;*/
}

.overlay-select.selected{
	color:#31D6EC;
}

.overlay-select.selected:hover{
	cursor:default;
	text-decoration: none;
}
#viz-select{
	top:0;
	left:50px;
	text-align:center;
}
.viz-option{
	padding:10px 5px;
}
.viz-option.selected{
	background-color:#31D6EC;
	color:white;
}
#play-btn{
	display:none;
	position: absolute;
	top: 89px;
	width: 84px;
	text-align: center;
}
#animation-drawer{
	top: 0;
	left: 50px;
	width:920px;
	height: 95px;
	z-index: 9;
	padding: 10px 5px 10px 10px;
}
#area-chart-canvas{
	width:100%;
	height:100%;
}
#animation-scrubber{
	position:absolute;
	top:0;
	bottom:0;
	width:1px;
	background-color:#303030;
	opacity: .4;
	-webkit-opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=40);
	z-index:99;
	display:none;
}
#slider-container{
	float: left;
	width: 627px;
	bottom: 9px;
	position: absolute;
	left: 83px;
	display:none;
}
/* EQUALIZER */
#equalizer{
	width: 205px;
	height: 300px;
	top: 115px;
	left: 780px;
	z-index: 8;
}
#equalizer-container{
	height:88%;
	float:left;
}
.col-wrapper{
    height:100%;
    width:15px;
    position:relative;
    float:left;
}
.bar-container{
    position:absolute;
    bottom:0;
    width:100%;
}
.bar{
    width:100%;
    height:1px;
}
.bar.initial-bar{
	height:2px;
}
.col-wrapper.first-col{
	margin-left:0px!important;
}
.col-wrapper.left-col{
	margin-left:5px;
}
/* Black */
#col-bN .bar, .leaflet-marker-custom.bN{
	background-color:#FE9929;
}
#col-bY .bar, .leaflet-marker-custom.bY{
	background-color:#CC4C02;
}
/* Hispanic */
#col-hN .bar, .leaflet-marker-custom.hN{
	background-color:#78C679;
}
#col-hY .bar, .leaflet-marker-custom.hY{
	background-color:#238443;
}
/* White */
#col-wN .bar, .leaflet-marker-custom.wN{
	background-color:#41B6C4;
}
#col-wY .bar, .leaflet-marker-custom.wY{
	background-color:#225EA8;
}
/* Asian */
#col-aN .bar, .leaflet-marker-custom.aN{
	background-color:#F768A1;
}
#col-aY .bar, .leaflet-marker-custom.aY{
	background-color:#AE017E;
}
/* Other */
#col-oN .bar, .leaflet-marker-custom.oN{
	background-color:#969696;
}
#col-oY .bar, .leaflet-marker-custom.oY{
	background-color:#525252;
}
#equalizer-x-axis-container{
	float:left;
}
.x-axis-label{
	margin-right: 5px;
	float: left;
	width: 30px;
	text-align: center;
}
#equalizer-y-axis-container{
	float:left;
	height:100%;
	width:25px;
}
.y-axis-label{
	text-align: right;
	margin: 2px 2px 33px 0;
}
#equalizer-y-axis-label-wrapper{
	position:absolute;
	left:10px;
	bottom:36px;
}
#equalizer-legend{
	font-size:9px;
	font-style:italic;
}
/* Time Display */
#time-display{
	width: 174px;
	height: 60px;
	float: left;
	text-align: center;
	font-size: 19px;
	margin-left: 26px;
	margin-top: 20px;
}
.time{
	position: relative;
	padding-top: 15px;
	display: inline-block;
	font-size: 37px;
	color:#31D6EC;
}
.am_pm{
	font-size: 12px;
	right: -21px;
	position: absolute;
	bottom: -7px;

}
.inactive{
	color:#ccc;
	display:inline-block;
	width:50px;
	text-align:center;
}
.inactive:hover{
	cursor:default!important;
	color:#ccc!important;
	text-decoration:none;
}
/*​ HEAT MAP STYLES */
#heat-maps{
	margin-left: 74px;
	margin-top: -8px;
}
.month-select-text{
	margin-bottom:12px;
	text-decoration: underline;
}
.selector-pointer{
	margin-bottom:3px;
	font-weight: bold;
}
body {
  shape-rendering: crispEdges;
}

.day {
  fill: transparent;
  stroke: #454545;
  stroke-width:1px;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.heat-map-box .box-7{fill:#FFFFCC;}
.heat-map-box .box-6{fill:#C7E9B4;}
.heat-map-box .box-5{fill:#7FCDBB;}
.heat-map-box .box-4{fill:#41B6C4;}
.heat-map-box .box-3{fill:#1D91C0;}
.heat-map-box .box-2{fill:#225EA8;}
.heat-map-box .box-1{fill:#0C2C84;}

.heat-map-box .highlighted{fill:#B3E7FF;}

.heat-map-container{
	float:left;
	width:15px;
}
#heatmap-hover-window{
	font-family: 'Droid Sans', sans-serif;
	/*-webkit-font-smoothing: antialiased;*/
	text-rendering:optimizeLegibility;
	letter-spacing: 1px;
	font-size:11px;
	position:absolute;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,.8);
	border-radius:2px;
	z-index:9999;
	color:white;
	padding:3px 5px;
	display:none;
}
.na-text{
	position: absolute;
	top: -14px;
	left: -4px;
	width: 90px;
	font-style: italic;
	font-family: 'Droid Sans', sans-serif;
	font-size:9px;
	color:black;
	background-color:white;
}
.ui-slider-handle {
    outline: none !important;
}