html, body {
       margin: 0;
       padding: 0;
       height: 100%;
       overflow:hidden;
     }
	
		.leaflet-popup-tip{
			display:none;
		}

     #map_canvas {background:#D8DEE6; top: 40px;width:700px;height:500px;float:left; }

	#chart_div{width:300px;height:300px;border:1px solid #ccc;float:left;margin-left:10px;margin-top:50px}
     #loader {
     width:200px;
     padding:10px;
     position:absolute;
     top: 50px;
     z-index:1000;
     margin:auto;
     margin-left:-100px;
     left:50%;
     }
     #legend {
         background:#FFF;
         width:200px;
         padding:10px;
         position:absolute;
         z-index:1000;
         display:none;
     }

	.leaflet-popup-close-button_custom,.leaflet-popup-tip-container_custom{
		display:none;
	}

	
	.leaflet-marker-custom{
		position:absolute;
		border-radius: 50%;
		width: 2px;
		height: 2px;
		background-color:magenta;
		margin:0 auto;
	}
	
	.leaflet-marker-custom.final_marker{
		width:5px !important;
		height:5px !important;
		display:none;
	}
	
	#slider{
		margin-left:200px;
		width:500px;
		margin-top:-25px;
	}
	
	#demo-frame > div.demo { padding: 10px !important; };
